{% if not vars.draft_parent_record_metadata.skip %}
{{ vars.draft_parent_record_metadata| imports }}


class {{ vars.draft_parent_record_metadata|class_header }}:

    __tablename__ = "{{ vars.draft_parent_record_metadata.table }}"
{% endif %}